@import "orion/textview/tooltip.css";
@import "orion/textview/annotations.css";

body {
	margin: 0;
	padding: 0;
	font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

a {
	cursor: hand;
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	cursor: hand;
	text-decoration: underline;
	color: #ffffff;
}

.contentassist {
	display: none;
	background-color: #ffffff;
	padding: 2px;
	position: fixed;
	top: 100px;
	left: 100px;
	border: 1px solid #cccccc;
	z-index:10;
	cursor: default;
	overflow: auto;
	height: 150px;
	width: 200px;
}

.contentassist .selected {
	background-color: #dddddd;
}

#header {
    background-image: url(images/Shrpr_WRE_Logo.png);
    background-repeat: no-repeat;
    background-color: #2f2e2e;
    padding-left: 190px;
    height: 78px;
}

.action {
    padding-top: 10px;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
}

#helpOverlay {
    display: none;
    z-index: 10000;
    
/* styling */
    background-image: url(images/overlay/overlay.png);
	
	width:675px;	
	min-height:200px;
	
    padding: 35px;

    color: rgb(207, 207, 207);

}

#helpOverlay .close {
	background-image:url(images/overlay/close.png);
	position:absolute; right:14px; top:17px;
	cursor:pointer;
	height:28px;
	width:28px;
}

.helpLink {
    padding-left: 5px;
    padding-right: 5px;
}